<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <title>Piefy - URL Shortener</title>
</head>
<body>
  <main class="home">
    <div class="brand-container">
      <div class="logo-container">
        <object class="logo" data="/assets/pie.svg" type="image/svg+xml"></object>
      </div>
      <div class="title-container">
        <p class="title-name">Piefy<span class="period">.</span></p>
        <p class="tagline">A perfect slice for your long urls.</p>
      </div>
    </div>

    <form method="post" name="url-form">
      <div class="input-group">
        <input id="url-input" type="text" placeholder="URL goes here" name="url" autocomplete="off">
        <button type="submit" class="primary-btn" id="submit-btn">Slice Away!</button>
      </div>
    </form>
    <div class="input-group">
      <input type="text" placeholder="shortened link" id="result-container" readonly></input>
      <button class="copy-btn" id="copy-btn">Copy</button>
    </div>
    <div class="gh-container">
      <p>Check out the repository on <a href="google.com" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
    </div>
  </main>
  <script src="js/index.js"></script>
</body>
</html>