<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <title>Not Found</title>
</head>
<body>
  <main class="error-root">
    <div class="err-svg">
      <object data="/assets/confused-nick-young-hand-drawn.svg" type="image/svg+xml"></object>
    </div>
    <div class="err-desc-box">
      <p class="error-title">Uh...what are you looking for?</p>
      <p class="error-msg">Sorry, we can't find the URL you are looking for.</p>
      <p class="err-code">(Error code: 404)</p>
      <a href="/">
        <button class="redirect-btn primary-btn">Go Home</button>
      </a>
    </div>
  </main>
</body>
</html>