
@font-face {
  font-family: 'Thicccboi Medium';
  src: url('../assets/fonts/THICCCBOI-Medium.ttf') format("opentype");
}


* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f6f7;
  font-family: 'Thicccboi Medium';
  display: flex;
  justify-content: center;
}

main {
  width: fit-content;
  text-align: center;
}

main.home{
  padding-top: 180px;
}

input{
  font-family: inherit;
  border: 2px solid rgb(51, 51, 51);
  width: 400px;
  padding: 12px;
  height: 50px;
  box-sizing: border-box;
}

button{
  font-family: inherit;
  background-color: rgb(255, 241, 241);
  height: 46px;
  width: 166px;
  box-shadow: 4px 4px rgb(51, 51, 51);
  font-size: 18px;
}

.primary-btn{
  background-color: #eea159;
}

.input-group{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.tagline{
  font-size: 20px;
}

.brand-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.title-container{
  text-align: left;
}

.title-name{
  font-size: 46px;
  font-weight: bolder;
}

.period{
  font-size: 100px;
  color: #dd6e07;
  margin: 0;
  padding: 0;
}

/* .gh-logo{
  transition: transform 0.25s ease-in-out;
  margin-right: 14.5px;
}

.gh-logo:hover {
  transform: scale(1.2);
} */

.gh-container p{
  font-weight: bolder;
}

.gh-container p a {
  text-decoration: none;
  color: rgb(196, 104, 19);
}

object{
  width: 250px;
  height: 250px;
}

.error-title{
  font-size: 36px;
}

.error-msg{
  font-size: 20px;
}

.err-desc-box p{
  margin-bottom: 20px;
}

.redirect-btn{
  margin-top: 24px;
}

.err-svg {
  padding-top: 120px;
}

