
@font-face {
  font-family: 'Thicccboi Medium';
  src: url('../assets/fonts/THICCCBOI-Medium.ttf') format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f6f7;
  font-family: 'Thicccboi Medium';
  display: flex;
  justify-content: center;
}

main {
  width: fit-content;
  text-align: center;
}

main.home{
  padding-top: 180px;
}

input{
  font-family: inherit;
  border: 2px solid rgb(51, 51, 51);
  width: 400px;
  padding: 12px;
  height: 50px;
  box-sizing: border-box;
}

button{
  font-family: inherit;
  background-color: rgb(255, 241, 241);
  height: 46px;
  width: 166px;
  box-shadow: 4px 4px rgb(71, 71, 71);
  font-size: 18px;
  border: 2px solid rgb(51, 51, 51);
}

.primary-btn{
  background-color: #eea159;
}

.input-group{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.tagline{
  font-size: 20px;
}

.brand-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.title-container{
  text-align: left;
}

.title-name{
  font-size: 46px;
  font-weight: bolder;
}

.period{
  font-size: 100px;
  color: #dd6e07;
  margin: 0;
  padding: 0;
}

.gh-container p{
  font-weight: bolder;
}

.gh-container p a {
  text-decoration: none;
  color: rgb(196, 104, 19);
}

.error-root object{
  width: 250px;
  height: 250px;
}

.error-title{
  font-size: 36px;
}

.error-msg{
  font-size: 20px;
}

.err-desc-box p{
  margin-bottom: 20px;
}

.redirect-btn{
  margin-top: 24px;
}

.err-svg {
  padding-top: 120px;
}

.home object{
  width: 160px;
}

/*RESPONSIVE QUERIES FOR HOME PAGE*/

@media screen and (max-width: 1400px) {
  main{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .home object{
    width: 95px;
  }

  .title-name{
    font-size: 36px;
  }

  .tagline{
    font-size: 18px;
  }

  button{
    font-size: 14px;
  }

  .logo-container{
    align-self:last baseline;
  }

  main.home{
    padding-top: 100px;
  }

  .gh-container p{
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
    
  input{
    width: 380px;
    padding: 11px;
    height: 40px;
  }

  .input-group{
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  button{
    height: 38px;
    width: 154px;
    font-size: 14px;
  }

  .title-name{
    font-size: 32px;
  }

  .tagline{
    font-size: 16px;
  }

  .gh-container p{
    font-size: 13px;
  }

  .home object{
    width: 90px;
  }
}

/*RESPONSIVE QUERIES FOR ERROR PAGES*/
@media screen and (max-width: 600px) {

  main.error-root{
    padding: 0 16px;
  }

  .error-root object{
    width: 200px;
    height: 200px;
  }

  .error-title{
    font-size: 28px;
  }
  
  .error-msg{
    font-size: 16px;
    line-height: 1.8;
  }

  .err-desc-box p{
    margin-bottom: 10px;
  }
  
  .redirect-btn{
    margin-top: 18px;
  }
  
  .err-svg {
    padding-top: 100px;
  }
}